<h1>Honma Language App</h1>

<p><%= link_to 'Go to dialect page', dialects_path %></p>
<p><%= link_to 'Go to grammar page', grammars_path %></p>
<p><%= link_to 'Go to example page', examples_path %></p>