<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Name en</th>
      <th>Name jp</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_infos.each do |place| %>
      <tr>
        <td><%= place.name_en %></td>
        <td><%= place.name_jp %></td>
        <td>
          <%= Geocoder.search([place.latitude, place.longtitude]).first.address %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
